{% extends "boards/base.html"%}
{% block body %}
<div class="container">
    <div class="row" align="center">
        <div class="col-12">
            <br>
            <h2>
            UTWÓRZ NOWĄ INWNTURĘ ARCHIWALNĄ 
            <br>
            (do tego archiwum skupiujesz później ostatnio przeprowadzoną INWENTURĘ )
            </h2>
            <br>
            <br>
    </div>
    </div>
    <div class="row" align="center">
        <div class="col-12">
        <form method="POST">
            {% csrf_token %}
            <label for="invenura">NAZWA INWENTURY</label>
            <input id="inwentura" name="inwentura" type="text" value="{{recommended_name}}" size=35>
            <label for="data_inv_arch" >DATA</label>
            <input type="date" id="data_inv_arch" name="data_inv_arch" value={{recommended_date}}>
            <button type="submit" class="btn btn-primary">TWÓRZ</button>

        
        </form>
        <br>
        <br>
        <h2 style="color:red;">{{alert}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
    
    
            <table class="table table-bordered">
                <thead align="center">
                    <tr>
                        <th >
                            LISTA INWENTUR ARCHIWALNYCH 
                        </th>
                    </tr>
                </thead>
                <tbody>

                    {%for inv in inv_list %}
                    <tr>
                        <td align="center">
                        {{inv}}
                        </td>

                        </tr>
                    {%endfor%}
                    {% endblock body %}
                <tbody>

            </table>
        </div>
    </div>

</div>
