<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>STOLARNIA</title>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script> 



    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#">DOSTAWY</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/boards/packages_delivery/">Nowa dostawa</a>
                <a class="dropdown-item" href="/boards/packages_delivery_edit/">Dostawy</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">RAPORTY</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/boards/index_report3/">Indexy wg WZ</a>
                <a class="dropdown-item" href="/boards/index_report2/">Indexy</a>
                <a class="dropdown-item" href="/boards/suppliers_report/">Podsumowania dostawcami</a>
                <a class="dropdown-item" href="/boards/packages_filter">Paczki</a>

                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">STANY</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/boards/stany_magazyn/">MAGAZYN</a>
                <a class="dropdown-item" href="/boards/stany_produkcja/">PRD</a>
                <a class="dropdown-item" href="/boards/stany_lacznie/">LACZNIE</a>
                <a class="dropdown-item" href="/boards/zuzycie/">ZUŻYCIE</a>

                <div class="dropdown-divider"></div>
              </div>
            </li>


          </ul>
      </div>
      <!--
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      -->
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ORGANIZACYJNE</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/boards/indexes/">Indexy</a>
                <a class="dropdown-item" href="/boards/suppliers/">Dostawcy</a>
                <a class="dropdown-item" href="/boards/packages/">Paczki</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item">
                {% if user.get_username != "" %}
                <a class="nav-link" href="/boards/logoutlocal/">WYLOGUJ: {{user.get_username}}</a>
                {% else %}
                <a class="nav-link"> NIEZALOGOWANY </a>
                {% endif %}
              </li>
          </ul>
      </div>
  </nav>


<!--
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#">Dostawy</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/boards/packages_delivery/">Nowa dostawa</a>
            <a class="dropdown-item" href="/boards/packages_delivery_edit/">Dostawy</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Zasoby</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/boards/indexes/">Indexy</a>
            <a class="dropdown-item" href="/boards/suppliers/">Dostawcy</a>
            <a class="dropdown-item" href="/boards/packages">Paczki</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Raporty</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/boards/index_report2/">Indexy</a>
              <a class="dropdown-item" href="/boards/suppliers_report/">Podsumowania dostawcami</a>
              <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item">
          {% if user.get_username != "" %}
          <a class="nav-link" href="/boards/logoutlocal/">WYLOGUJ: {{user.get_username}}</a>
          {% else %}
          <a class="nav-link"> NIEZALOGOWANY </a>
          {% endif %}
        </li>


        </ul>
  

      </ul>
-->
    {% block body %}
    {% endblock body %}
    
</body>
<script type="text/javascript">                                                    
function myFilter(pos,inp) {                                                        
    var input, filter, table, tr, td, i;                                              
    input = document.getElementById(inp);                                             
    filter = input.value.replace(/^0+/, '').toUpperCase();                            
    table = document.getElementById("tabela");                                        
    tr = table.getElementsByTagName("tr");                                            
    for (i = 1; i < tr.length; i++) {                                                 
        td = tr[i].getElementsByTagName("td")[pos];                                     
        if (td) {                                                                       
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {                        
            tr[i].style.display = "";                                                   
                } else {                                                                      
            tr[i].style.display = "none";                                               
            }                                                                             
        }                                                                               
    }                                                                                 
}    
function expand(tableId,rowId) {
  

  var rowCnt = document.getElementById(tableId).getElementsByTagName("tr").length;

  console.log("ilosc wierszy:",rowCnt);
  for (row = 2 ; row < rowCnt ; row++) 
    {
      console.log("rowid", document.getElementById(tableId).getElementsByTagName("tr")[row].getElementsByTagName("td")[7].innerText.trim(), "chosen", rowId);
      if (document.getElementById(tableId).getElementsByTagName("tr")[row].getElementsByTagName("td")[5].innerText.trim() == rowId)
        {
          if (document.getElementById(tableId).getElementsByTagName("tr")[row].getElementsByTagName("td")[7].innerText.trim()=="P")
            {
              if(document.getElementById(tableId).getElementsByTagName("tr")[row].style.display == "")
                {document.getElementById(tableId).getElementsByTagName("tr")[row].style.display = "none"}
                else
                {document.getElementById(tableId).getElementsByTagName("tr")[row].style.display = ""}
            }
        }
    }
}

function act(tableId, action) {
  var rowCnt  =  document.getElementById(tableId).getElementsByTagName("tr").length;
  console.log("rowCnt:",rowCnt,"uu");
  for(row=1;row < rowCnt; row++)
    {

      var label = document.getElementById(tableId).getElementsByTagName("tr")[row].getElementsByTagName("td")[0].innerText;
      console.log(label)
      const Http = new XMLHttpRequest();
      const url='http://10.30.1.107:8000/boards/'+action+'/'+label.trim();
      console.log(url);
      
      Http.open("GET", url);
      Http.send();
      Http.onreadystatechange = (e) => {console.log(Http.responseText)}
    }


    //document.location.reload();

}

function exportReportToExcel(tableId) {
  let table = document.getElementsByTagName(tableId); // you can use document.getElementById('tableId') as well by providing id to the table tag
  TableToExcel.convert(table[0], { // html code may contain multiple tables so here we are refering to 1st table tag
    name: `export.xlsx`, // fileName you could use any name
    sheet: {
      name: 'Sheet 1' // sheetName
    }
  });
}

function ExportToExcel(tableId, type, fn, dl) {
            var elt = document.getElementById(tableId);
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });

            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
        }

</script>
</html>