{% extends "boards/base.html" %}
{% block body %}

<div class="container">
    <br><br>
    <form method="post" name="sort" action="">          
        {% csrf_token %}
        <div class="row">
            <div class="col-3">
                <label for="package">{{labels.package_pk}}:</label>
                <input type="text" id="package" name="package">
            </div>
            <div  class="col-3">
                <label for="wz">{{labels.package_wz}}:</label>
                <input type="text" id="wz" name="wz">
            </div>
            <div  class="col-3">
                <label for="date">{{labels.package_delivery_date}}:</label>
                <input type="date" id="delivery_date" name="delivery_date">
            </div>

            <div  class="col-3">
                <label for="sort">Sortowanie:</label>
                <select id="sort" name="sort">
                    {%for s in sorts %}
                <option value="{{s}}" >{{s}}</option>
                    {%endfor%}
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <input type="submit">
            </div>
        </div>

    </form>
    </div>
    <div class="container">

    <table id="tabela" class="table table-bordered">
        <thead>  
            <tr>
                <th scope="col" class="col-1">
                    {{labels.package_pk}}

                </th>
                <th scope="col" class="col-1">
                    {{labels.package_paczka}}

                </th>

                <th scope="col" class="col-1">
                    {{labels.index_sap}}

                </th>
                <th scope="col" class="col-2">
                    {{labels.index_name}}

                </th>
                <th scope="col" class="col-2">
                    {{labels.package_supplier}}
                </th>
               <th scope="col" class="col-2">
                   {{labels.package_localisation}}
                </th>
                <th scope="col" class="col-1">
                    {{labels.package_length}}
                </th>
                <th scope="col" class="col-1">
                    {{labels.package_wz}}
                </th>
            </tr>
        </thead>

    <tbody>
    {% for package in packages %}
    <tr style="font-size: small;">
        <td class="col-1" align="left">
            <a href="/boards/packages_history/{{package.pk}}">{{package.pk}}</a>
        </td>
        <td class="col-1" align="left">
            {{package.paczka}}  
        </td>

        <td class="col-1" align="left">
            {{package.index.sap}}  
        </td>
        <td class="col-2" align="left">
            {{package.index.name}}  
        </td>
        <td class="col-2" align="left">
            {% if package.supplier != None %}
            {{package.supplier}}  
            {% endif %}

        </td>
        <td class="col-2" align="left">
            {{package.localisation}}
        </td>
        <td class="col-1" align="left">
            {{package.length}} m
        </td>
        <td class="col-1" align="left">
            {% if package.wz != None %}
            {{package.wz}}
            {%endif%}
        </td>
        <!--
        <td class="col-1" align="center">
            <a href="/boards/packages_edit/{{package.pk}}">Edutuj</a>
        </td>
        <td class="col-1" align="center"> 
            <a href="/boards/packages_del/{{package.pk}}">X</a>
        </td>
        -->
    </tr>
 
    {% endfor %}
    </tbody>
</div>

  


    
{% endblock body %}
<script type="text/javascript">
    function myFilter(pos,inp) {
        alert("sdfdfdf");
    }