{% extends "boards/base.html" %}
{% block body %}

<div class="container">
    <h1 align="center">DOSTAWA</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <label for="wz">WZ</label>
        <input type="text" list="wzlist" name="wz" id="wz"></input>
            <datalist id="wzlist">
                {%for w in wz%}
                {%if w.wz != None %}
                <option>{{w.wz}}</option>
                {%endif%}
                {%endfor%}
            </datalist>
        <input type="submit"></input>
    </form>



    <table id="table_delivery" class="table table-bordered">
        <thead>  
            <tr>
                <th scope="col" class="col-2">PACZKA</th>
                <th scope="col" class="col-2">SAP</th>
                <th scope="col" class="col-2">INDEX</th>
                <th scope="col" class="col-2">DOSTAWCA</th>
                <th scope="col" class="col-2">LOKALIZACJA</th>
                <th scope="col" class="col-2">DLUGOŚĆ</th>
                <th scope="col" class="col-2">WZ DOSTAWCY</th>



                <th scope="col" class="col-1" align="center">Edytuj</th>
                <th scope="col" class="col-1" align="center">Usuń</th>
                <th scope="col" class="col-1" align="center">Drukuj</th>
            </tr>
        </thead>

    <tbody>
    {% for package in packages %}
    <tr>
        <td class="col-2" align="left">
            <a href="/boards/packages_history/{{package.pk}}">{{package.pk}}</a>
        </td>
        <td class="col-2" align="left">
            {{package.index.sap}}
        </td>
        <td class="col-2" align="left">
            {{package.index.name}} 
        </td>
        <td class="col-2" align="left">
            {{package.supplier}}
        </td>
        <td class="col-2" align="left">
            {{package.localisation}}
        </td>
        <td class="col-2" align="left">
            {{package.length}} m
        </td>
        <td class="col-2" align="left">
            {{package.wz}}
        </td>
        
        <td class="col-1" align="center">
            <a href="/boards/packages_edit/{{package.pk}}"><i class="bi bi-pencil"></i></a>
        </td>
        <td class="col-1" align="center"> 
            <a href="/boards/packages_del/{{package.pk}}"><i class="bi bi-file-earmark-minus"></i></a>
        </td>
        <td class="col-1" align="center"> 
            <a href="/boards/print_label/view/{{package.pk}}"><i style="font-size: 2rem;" class="bi bi-printer"></i></a>
        </td>
    </tr>
 
    {% endfor %}
    </tbody>
    </table>
    <table>
    <tbody>

    <tr>
        <td class="col-2" colspan="9" align="center">
            
            <button type="button" class="btn btn-primary btn-lg" onclick="act('table_delivery','print_label/print')">DRUKUJ DOSTAWĘ</button>
            <a href="/boards/info_del/">
            <button type="button" class="btn btn-secondary btn-lg" onclick="act('table_delivery','packages_del')">USUŃ DOSTAWĘ</button></a>
            <button type="button" class="btn btn-secondary btn-lg" id="btnExport" onclick="ExportToExcel('table_delivery','xlsx')">EXPORT REPORT</button>


        </td>
    </tr>
    </tbody>
    </table>




</div>


<script>

    
 
</script>
    
{% endblock body %}