{% extends "boards/base.html" %}
{% block body %}


    <div class="container">
        <br><p>
            <center>
        <a href={{return_path}}>POWRÓT</a>
            </center>
        <br><p>

    <table id="tabela" class="table table-bordered">
        <thead>  
            <tr>
                <th scope="col" class="col-1">
                    {{labels.package_pk}}

                </th>
                <th scope="col" class="col-1">
                    {{labels.package_paczka}}

                </th>

                <th scope="col" class="col-1">
                    {{labels.index_sap}}

                </th>
                <th scope="col" class="col-2">
                    {{labels.index_name}}

                </th>
                <th scope="col" class="col-2">
                    {{labels.package_supplier}}
                </th>
               <th scope="col" class="col-2">
                    {{labels.package_localisation}}
            </th>
                <th scope="col" class="col-1">
                    {{labels.package_length}}
                </th>


                <th scope="col" class="col-1">
                    {{labels.package_wz}}
                </th>
            </tr>
        </thead>

    <tbody>
    {% for package in packages %}
    <tr>
        <td class="col-1" align="left">
            {{package.pk}}  
        </td>
        <td class="col-1" align="left">
            {{package.paczka}}  
        </td>

        <td class="col-1" align="left">
            {{package.index.sap}}  
        </td>
        <td class="col-2" align="left">
            {{package.index.name}}  
        </td>
        <td class="col-2" align="left">
            {% if package.supplier != None %}
            {{package.supplier}}  
            {% endif %}

        </td>
        <td class="col-2" align="left">
            {{package.localisation}}
        </td>
        <td class="col-1" align="left">
            {{package.length}} m
        </td>
        <td class="col-1" align="left">
            {% if package.wz != None %}
            {{package.wz}}
            {%endif%}
        </td>
        <!--
        <td class="col-1" align="center">
            <a href="/boards/packages_edit/{{package.pk}}">Edutuj</a>
        </td>
        <td class="col-1" align="center"> 
            <a href="/boards/packages_del/{{package.pk}}">X</a>
        </td>
        -->
    </tr>
 
    {% endfor %}
    </tbody>
</div>

  


    
{% endblock body %}
<script type="text/javascript">
    function myFilter(pos,inp) {
        alert("sdfdfdf");
    }