{% extends "boards/base.html" %}
{% block body %}

<div class="container">
    <form method="post" name="sort" action="">  
        {% csrf_token %}
        <label for="sort">Sortowanie:</label>
        <select id="sort" name="sort">
            {%for s in sorts %}
          <option value="{{s}}" >{{s}}</option>
            {%endfor%}
        </select>
        <input type="submit">
    </form>
    
    <table id="tabela" class="table table-bordered">
        <thead>  
            <tr>
                <th scope="col" class="col-1">
                    <!--<label class="control-label">SAP</label>-->
                    <input class= type="text" id="col0" onkeyup="myFilter(0,'col0')" size="7" placeholder="package" title="Filtruj Paczkę">
                    <span class="glyphicon glyphicon-search"></span>

                </th>
                <th scope="col" class="col-1">
                    <!--<label class="control-label">SAP</label>-->
                    <input class= type="text" id="col1" onkeyup="myFilter(1,'col1')" size="7" placeholder="SAP" title="Filtruj SAP">
                    <span class="glyphicon glyphicon-search"></span>

                </th>
                <th scope="col" class="col-2">
                    <!--<label class="control-label">INDEX</label>-->
                    <input class= type="text" id="col2" onkeyup="myFilter(2,'col2')" size="7" placeholder="INDEX" title="Filtruj INDEX">
                    <span class="glyphicon glyphicon-search"></span>

                </th>
                <th scope="col" class="col-2">
                    <!--<label class="control-label">DOSTAWCA</label>-->
                    <input class= type="text" id="col3" onkeyup="myFilter(3,'col3')" size="7" placeholder="DOSTAWCA" title="Filtruj DOSTAWCA">
                    <span class="glyphicon glyphicon-search"></span>
                </th>
               <th scope="col" class="col-2">
                   <!--<label class="control-label">LOKALIZACJA</label>-->
                   <input class= type="text" id="col4" onkeyup="myFilter(4,'col4')" size="7" placeholder="LOKALIZACJA" title="Filtruj LOKALIZACJA">
                   <span class="glyphicon glyphicon-search"></span>

                </th>
                <th scope="col" class="col-1">DŁUGOŚĆ</th>


                <th scope="col" class="col-1">
                    <input class= type="text" id="col6" onkeyup="myFilter(6,'col6')" size="7" placeholder="WZ" title="Filtruj WZ">
                    <span class="glyphicon glyphicon-search"></span>
 

                </th>

                <th scope="col" class="col-1" align="center">EDYTUJ</th>
                <th scope="col" class="col-1" align="center">USUŃ</th>
            </tr>
        </thead>

    <tbody>
    {% for package in packages %}
    <tr>
        <td class="col-1" align="left">
            <a href="/boards/packages_history/{{package.pk}}">{{package.pk}}</a>
              
        </td>

        <td class="col-1" align="left">
            {{package.index.sap}}  
        </td>
        <td class="col-2" align="left">
            {{package.index.name}}  
        </td>
        <td class="col-2" align="left">
            {% if package.supplier != None %}
            {{package.supplier}}  
            {% endif %}

        </td>
        <td class="col-2" align="left">
            {{package.localisation}}
        </td>
        <td class="col-1" align="left">
            {{package.length}} m
        </td>
        <td class="col-1" align="left">
            {% if package.wz != None %}
            {{package.wz}}
            {%endif%}
        </td>
        
        <td class="col-1" align="center">
            <a href="/boards/packages_edit/{{package.pk}}"><i class="bi bi-pencil"></i></a>
        </td>
        <td class="col-1" align="center"> 
            <a href="/boards/packages_del/{{package.pk}}"><i class="bi bi-file-earmark-minus"></i></a>
        </td>
    </tr>
 
    {% endfor %}
    </tbody>
</div>

  


    
{% endblock body %}
<script type="text/javascript">
    function myFilter(pos,inp) {
        alert("sdfdfdf");
    }