{% extends "boards/base.html" %}
{% block body %}


<div class="container">
    <table class="table table-bordered">
        <thead>  
            <tr>
                <th scope="col" class="col-11">Dostawca</th>
                <!--https://icons.getbootstrap.com/#install -->
                <th scope="col" class="col-2" ><a href="/boards/suppliers_add/"><i style="font-size: 2rem;" class="bi bi-person-plus"></i> </a>
                </th>

            </tr>            
        </thead>

    <tbody>
    {% for supplier in suppliers %}
    <tr>
        <td class="col-10" align="left">
            {{supplier.name}}
        </td>
        
        <td class="col-1" align="center">
            <button id="myBtn{{supplier.pk}}"><i class="bi bi-pencil"></i></button>

        </td>
            <!--
        <td class="col-1" align="center"> 
            <a href="/boards/suppliers_del/{{supplier.pk}}">X</a>
        </td>
            -->
        </tr>

    <script>
        // Get the modal
        var modal{{supplier.pk}} = document.getElementById("myModal{{supplier.pk}}");
        // Get the button that opens the modal
        var btn{{supplier.pk}} = document.getElementById("myBtn{{supplier.pk}}");
        // When the user clicks the button, open the modal 
        btn{{supplier.pk}}.onclick = function() {
            //alert("asdsd{{supplier.pk}}");
            document.getElementById("myModal{{supplier.pk}}").style.display = "block";
        
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == document.getElementById("myModal{{supplier.pk}}")) {
                document.getElementById("myModal{{supplier.pk}}").style.display = "none";
            }
        }
    // Get the <span> element that closes the modal
        //Brzydko...........
        for (var j = 0; j < 1000; j++) {
            var span = document.getElementsByClassName("close")[j];
        span.onclick = function() {
            var els = document.getElementsByClassName("modal");
            
            for(var i = 0; i < 1000; i++){
                
                document.getElementsByClassName("modal")[i].style.display = "none";
           }
        }
        }
        
 

    </script>
    <div id="myModal{{supplier.pk}}" class="modal" tabindex="-1">

    <!-- Modal content -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
            <center>
            <form method="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="supplier" id="supplier" value="{{supplier.pk}}"></input><br><br>
                <input type="text" name="name" id="name" value="{{supplier.name}}"></input><br><br>
                <input type="submit"></input>
            </form>
            </center>
            </div>
            <div class="modal-footer">
        </div>
    </div>

    {% endfor %}
    </tbody>
</div>

{% endblock body %}